.container {
  width: 100vw;
  height: 100vh
}

.headerStyle {
  text-align: center;
  color: #000;
  height: 10vh;
  font-size: 24px;
  font-weight: bold;
  background-color: #7dbcea;
}


.contentStyle {
  min-height: 90vh;
  padding: 5vh 5vw;
  color: #fff;
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.headerText {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  height: 10vh;
}